@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #070606;
  scroll-behavior: smooth;
}

textarea {
  resize: none;
}

button {
  background-color: #fefefe;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 10px;
  cursor: pointer;
}

.primaryButton {
  padding: 4px 16px;
  background-color: #fefefe;
  border: 1px solid #070606;
  border-radius: 10px;
  box-shadow: 3px 3px #f4aa25;
  font-weight: 400;
  font-size: 12px;
  transition: 0.3s;
}
.primaryButton:hover {
  transform: translateY(4%);
}

.secondaryButton {
  background-color: rgb(241, 241, 241);
  border-radius: 2px;
  padding: 4px 8px;
  margin: 0 8px;
}
.secondaryButton:hover {
  background-color: #f4aa25;
  color: #fefefe;
}

#delBtn {
  text-decoration: underline;
}
#delBtn:hover {
  transform: none;
  color: red;
  font-weight: bold;
}
#delBtn #icon {
  font-size: 20px;
}

#editBtn {
  color: green;
  border: 2px solid green;
  box-shadow: none;
}
#editBtn:hover {
  transform: none;
  background-color: green;
  color: white;
}

nav {
  width: 100%;
  height: 12vh;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in;
}
nav img {
  margin-left: 10%;
  border-radius: 10px;
  width: 3.2%;
}
nav .hamburger {
  padding-right: 10%;
  display: none;
}
nav .hamburger #icon {
  font-size: 36px;
  color: #fefefe;
}
nav .navLinks {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-right: 10%;
}

@keyframes sidebar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sidebar {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  transform: translateY(12vh);
  display: flex;
  justify-content: end;
}
.sidebar .container {
  animation: sidebar 0.3s ease-in;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: #fefefe;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to left, rgba(31, 31, 31, 0.5), transparent), linear-gradient(to right, rgba(31, 31, 31, 0.5), transparent), url("https://i.ibb.co/xh4JBt4/homepage1-min.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homepage .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slideUp 1.2s ease-out;
}
.homepage .container h1 {
  width: 60%;
  font-size: 60px;
}
.homepage .container h1, .homepage .container p {
  text-align: center;
  color: #fefefe;
  margin-bottom: 4px;
}
.homepage .container h1 span, .homepage .container p span {
  color: #fefefe;
  text-decoration: underline;
  text-decoration-color: #f4aa25;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loaderContainer {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}
.loaderContainer .loader {
  color: #f4aa25;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes popup {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.popup .container {
  animation: popup 0.2s linear;
  border-radius: 4px;
  width: 20%;
  height: auto;
  border-top: 2px solid #f4aa25;
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 0;
  box-shadow: 0 2.8px 2.2px rgba(210, 210, 210, 0.034), 0 6.7px 5.3px rgba(210, 210, 210, 0.048), 0 12.5px 10px rgba(210, 210, 210, 0.06), 0 22.3px 17.9px rgba(210, 210, 210, 0.072), 0 41.8px 33.4px rgba(210, 210, 210, 0.086), 0 100px 80px rgba(210, 210, 210, 0.02);
}
.popup .container .icon {
  width: 50px;
  height: 50px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.popup .container .icon #icons {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.dashboardNavbar {
  background-color: #fefefe;
  border: 1px solid #7d7d7d;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8vh;
  z-index: 1;
}
.dashboardNavbar section {
  display: flex;
  padding: 0 5%;
}
.dashboardNavbar section button {
  margin: 0 8px;
}

.dashboard {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
}
.dashboard .container {
  padding: 10vh 5%;
}
.dashboard .container .homeSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.dashboard .container .homeSection .todo {
  width: 50%;
}
.dashboard .container .homeSection .todo form {
  margin-bottom: 12px;
  display: flex;
}
.dashboard .container .homeSection .todo form input {
  width: 100%;
  padding: 8px;
  margin-right: 12px;
}
.dashboard .container .homeSection .todo .noteContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebd493;
  padding-bottom: 4px;
  margin-bottom: 8px;
}
.dashboard .container .homeSection .todo .noteContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: none;
}
.dashboard .container .homeSection .todo .noteContainer #icon {
  font-size: 22px;
}
.dashboard .container section {
  width: 100%;
  display: flex;
  gap: 24px;
}
.dashboard .container section .dataSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.dashboard .container section .dataSection table {
  margin-top: 8px;
  width: 100%;
}
.dashboard .container section .dataSection table td, .dashboard .container section .dataSection table th {
  padding: 4px;
}
.dashboard .container section .dataSection table td {
  border: 1px solid rgb(228, 228, 228);
}
.dashboard .container section .dataSection table #tdActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.dashboard .container section .dataSection table th {
  background-color: #ebd493;
  text-align: left;
}
.dashboard .container section form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.dashboard .container section form input, .dashboard .container section form textarea {
  width: 100%;
  padding: 2px 4px;
  margin-bottom: 8px;
}
.dashboard .container section form label {
  padding-bottom: 4px;
}
.dashboard .container section form textarea {
  height: 400px;
}
.dashboard .container section form #submitBtn {
  width: 20%;
}

.login {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 10vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login h1 {
  padding-bottom: 24px;
}
.login form {
  display: flex;
  flex-direction: column;
}
.login form input {
  padding: 8px;
  margin-bottom: 8px;
}
.login form button {
  margin-top: 8px;
}

.renungan {
  width: 100%;
  height: 90vh;
}
.renungan header {
  height: 30vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(30, 30, 30, 0.6), transparent), linear-gradient(to left, rgba(30, 30, 30, 0.6), transparent), url("https://i.ibb.co/hV4NN0v/bible-min.webp");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.renungan header h1 {
  font-size: 40px;
  color: #fefefe;
  animation: slideUp 0.8s ease-in;
}
.renungan header h1 span {
  color: #fefefe;
  text-decoration: underline;
  text-decoration-color: #f4aa25;
}
.renungan .container {
  display: flex;
  padding: 3% 10%;
}
.renungan .container h1 {
  padding-bottom: 12px;
}
.renungan .container .leftSection {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.renungan .container .leftSection .seriesContainer {
  width: 100%;
}
.renungan .container .rightSection {
  width: 50%;
  padding: 2% 10%;
}
.renungan .container .rightSection .seriesChoose {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.renungan .container .rightSection .seriesChoose .buttons {
  display: flex;
}
.renungan .container .rightSection ul {
  height: 30vh;
  overflow-y: scroll;
  list-style: circle;
}
.renungan .container .rightSection ul p {
  font-weight: bold;
}
.renungan .container .rightSection ul li {
  padding: 0 16px;
  cursor: pointer;
}
.renungan .container .rightSection ul li:hover {
  text-decoration: underline;
}

@keyframes skeleton {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.cardSkeleton {
  width: 50%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
  border-left: 1px solid #7d7d7d;
  background: linear-gradient(to right, rgba(240, 240, 240, 0.6), transparent);
}
.cardSkeleton h4, .cardSkeleton p, .cardSkeleton .content, .cardSkeleton button {
  animation: skeleton 1.6s linear infinite;
  width: 20%;
  padding: 10px;
  background-color: rgb(230, 230, 230);
  border-radius: 4px;
  margin: 4px 0;
}
.cardSkeleton p {
  width: 90%;
}
.cardSkeleton .content {
  margin: 10px 0;
  width: 90%;
  height: 30px;
}

.card {
  background: linear-gradient(to right, rgba(240, 240, 240, 0.6), transparent);
  padding: 20px;
  border-radius: 4px;
  border-left: 1px solid #7d7d7d;
  width: 50%;
  margin-bottom: 20px;
}
.card h4 {
  font-size: 20px;
}
.card button {
  margin: 12px 0;
}
.card .content {
  text-align: justify;
  padding-top: 8px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
}

.detailRenungan {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
}
.detailRenungan .container {
  padding: 5% 10%;
}
.detailRenungan .container h1, .detailRenungan .container #verse {
  text-align: center;
}
.detailRenungan .container #content {
  white-space: pre-line;
  text-align: justify;
}
.detailRenungan .container #verse {
  font-style: italic;
}
.detailRenungan .container span {
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #ebd493;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}
footer .container span a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.notFound {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10vh;
}

@media only screen and (max-width: 678px) {
  nav img {
    width: 10%;
  }
  nav .hamburger {
    display: block;
  }
  nav .navLinks {
    display: none;
  }
  .sidebar .primaryButton {
    font-size: 12px;
  }
  .homepage .container h1 {
    width: 90%;
    font-size: 30px;
  }
  .renungan {
    height: auto;
  }
  .renungan header {
    height: 25vh;
  }
  .renungan header h1 {
    padding-top: 10%;
    font-size: 32px;
  }
  .renungan .container {
    flex-direction: column;
    padding: 5% 5%;
  }
  .renungan .container h1 {
    font-size: 16px;
  }
  .renungan .container .leftSection, .renungan .container .rightSection {
    width: 100%;
  }
  .renungan .container .rightSection {
    padding: 5% 0;
  }
  .renungan .container .rightSection .seriesChoose {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .renungan .container .rightSection .seriesChoose .buttons {
    justify-content: space-between;
  }
  .renungan .container .rightSection .seriesChoose .buttons button {
    font-size: 14px;
    padding: 2px 6px;
    margin: 4px 8px 0 0;
  }
  .renungan .container .rightSection ul p {
    font-size: 14px;
  }
  .renungan .container .rightSection ul li {
    font-size: 14px;
  }
  .card {
    width: 90%;
    padding: 20px 10px;
  }
  .card h4 {
    font-size: 15px;
  }
  .card p {
    font-size: 12px;
  }
  .card button {
    font-size: 12px;
  }
  .detailRenungan {
    padding-top: 8vh;
  }
  .detailRenungan .container {
    padding: 5% 4%;
  }
  .dashboardNavbar section button {
    padding: 4px 8px;
  }
  .dashboard .container .homeSection {
    flex-direction: column;
  }
  .dashboard .container .homeSection .image {
    width: 100%;
  }
  .dashboard .container .homeSection .image img {
    width: 70%;
  }
  .dashboard .container .homeSection .todo {
    width: 100%;
  }
  .dashboard .container .homeSection .todo h1 {
    font-size: 20px;
  }
  .dashboard .container .homeSection .todo .noteContainer p {
    font-size: 14px;
  }
  .dashboard .container section {
    flex-direction: column;
  }
  .dashboard .container section .dataSection table {
    font-size: 14px;
  }
  .dashboard .container section .dataSection table .title, .dashboard .container section .dataSection table .author, .dashboard .container section .dataSection table .verse {
    display: none;
  }
  .dashboard .container section .dataSection table #tdActions button {
    font-size: 12px;
    padding: 2px;
  }
  .dashboard .container section form {
    padding-top: 10vh;
    width: 100%;
    transform: translateX(-4px);
  }
  .dashboard .container section form input, .dashboard .container section form textarea {
    width: 100%;
    padding: 2px 4px;
  }
  .dashboard .container section form label {
    padding-bottom: 2px;
  }
  .dashboard .container section form #submitBtn {
    width: 100%;
  }
  footer .container p {
    font-size: 12px;
    width: 70%;
  }
}/*# sourceMappingURL=index.css.map */