@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #070606;
  scroll-behavior: smooth;
}

textarea {
  resize: none;
}

button {
  background-color: #fefefe;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 10px;
}

.primaryButton {
  padding: 4px 16px;
  background-color: #fefefe;
  border: 2px solid #070606;
  border-radius: 10px;
  box-shadow: 3px 3px #f4aa25;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}
.primaryButton:hover {
  transform: translateY(4%);
}

#delBtn {
  text-decoration: underline;
}
#delBtn:hover {
  transform: none;
  background-color: red;
  color: white;
}
#delBtn #icon {
  font-size: 20px;
}

#editBtn {
  color: green;
  border: 2px solid green;
  box-shadow: none;
}
#editBtn:hover {
  transform: none;
  background-color: green;
  color: white;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #fefefe, transparent);
  padding: 22px;
}
nav section {
  padding-left: 10%;
  display: flex;
  align-items: center;
  gap: 24px;
}
nav section img {
  border-radius: 50%;
  width: 4%;
}
nav .navLinks {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-right: 10%;
}

.homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loaderContainer {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}
.loaderContainer .loader {
  color: #f4aa25;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: popup 0.3s ease-in;
}
.popup .container {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: #fefefe;
  border: 1px solid red;
}
.popup .container section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.popup .container .icon {
  width: 50px;
  height: 50px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.popup .container .icon #icons {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.dashboardNavbar {
  background-color: #fefefe;
  border: 1px solid #7d7d7d;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
}
.dashboardNavbar section {
  display: flex;
  padding: 0 5%;
}
@media only screen and (max-width: 678px) {
  .dashboardNavbar section {
    display: none;
  }
}
.dashboardNavbar section button {
  margin: 0 8px;
}

.dashboard {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
}
.dashboard .container {
  padding: 10vh 5%;
}
.dashboard .container .homeSection {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 678px) {
  .dashboard .container .homeSection {
    flex-direction: column;
  }
}
.dashboard .container .homeSection .image {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 678px) {
  .dashboard .container .homeSection .image {
    width: 100%;
  }
}
.dashboard .container .homeSection .image img {
  width: 50%;
}
@media only screen and (max-width: 678px) {
  .dashboard .container .homeSection .image img {
    width: 70%;
  }
}
.dashboard .container .homeSection .todo {
  width: 50%;
}
@media only screen and (max-width: 678px) {
  .dashboard .container .homeSection .todo {
    width: 100%;
  }
}
.dashboard .container .homeSection .todo form {
  width: 80%;
  margin-bottom: 12px;
  display: flex;
}
.dashboard .container .homeSection .todo form input {
  width: 100%;
  padding: 8px;
  margin-right: 12px;
}
.dashboard .container .homeSection .todo .noteContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebd493;
  padding-bottom: 4px;
  margin-bottom: 8px;
}
.dashboard .container .homeSection .todo .noteContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: none;
}
.dashboard .container .homeSection .todo .noteContainer #icon {
  font-size: 22px;
}
.dashboard .container section {
  width: 100%;
  display: flex;
  gap: 24px;
}
@media only screen and (max-width: 678px) {
  .dashboard .container section {
    flex-direction: column;
  }
}
.dashboard .container section .dataSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.dashboard .container section .dataSection table {
  margin-top: 8px;
  width: 100%;
}
.dashboard .container section .dataSection table td, .dashboard .container section .dataSection table th {
  padding: 4px;
}
.dashboard .container section .dataSection table td {
  border: 1px solid rgb(228, 228, 228);
}
.dashboard .container section .dataSection table #tdActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.dashboard .container section .dataSection table th {
  background-color: #ebd493;
  text-align: left;
}
.dashboard .container section form {
  width: 50%;
}
.dashboard .container section form input, .dashboard .container section form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}
.dashboard .container section form label {
  padding-bottom: 12px;
}
.dashboard .container section form textarea {
  height: 400px;
}

.login {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 10vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login h1 {
  padding-bottom: 24px;
}
.login form {
  display: flex;
  flex-direction: column;
}
.login form input {
  padding: 8px;
  margin-bottom: 8px;
}
.login form button {
  margin-top: 8px;
}

.detailRenungan {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
}
.detailRenungan .container {
  padding: 5% 10%;
}
.detailRenungan .container h1, .detailRenungan .container #verse {
  text-align: center;
}
.detailRenungan .container #content {
  white-space: pre-line;
  text-align: justify;
}
.detailRenungan .container span {
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #ebd493;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}
footer .container span a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.notFound {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10vh;
}/*# sourceMappingURL=index.css.map */