@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$black: #070606;
$yellow: #f4aa25;
$sand: #ebd493;
$white: #fefefe;
$grey: #7d7d7d;

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: $black;
    scroll-behavior: smooth;
}

textarea {
    resize: none;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(to bottom, $white, transparent);
    section {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-left: 10%;
        #logolafg {
            width: 50px;
        }
    }
    .navLinks {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-right: 10%;
    }
}

button {
    padding: 4px 16px;
    background-color: $white;
    border: 2px solid $black;
    border-radius: 10px;
    box-shadow: 3px 3px $yellow;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        transform: translateY(4%);
    }
}

#delBtn {
    color: red;
    border: 2px solid red;
    box-shadow: none;
    &:hover {
        transform: none;
        background-color: red;
        color: white;
    }
}

#editBtn {
    color: green;
    border: 2px solid green;
    box-shadow: none;
    &:hover {
        transform: none;
        background-color: green;
        color: white;
    }
}

@keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
  
@keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.loaderContainer {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    .loader {
        color: $yellow;
        font-size: 45px;
        text-indent: -9999em;
        overflow: hidden;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        position: relative;
        transform: translateZ(0);
        animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
    }
}

@keyframes popup {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: popup 0.3s ease-in;
    .container {
        border-radius: 4px;
        width: 200px;
        height: 50px;
        background-color: $white;
        border: 1px solid red;
        section {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .icon {
            width: 50px;
            height: 50px;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            #icons {
                font-weight: bold;
                font-size: 24px;
                color: white;
            }
        }
    }
}

.dashboardNavbar {
    background-color: $white;
    border: 1px solid $grey;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    section {
        @media only screen and (max-width: 678px) {
            display: none;
        }
        padding: 0 5%;
        button {
            margin: 0 8px;
        }
    }
}

.dashboard {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    .container {
        padding: 10vh 5%;
        .homeSection {
            width: 100%;
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
            @media only screen and (max-width: 678px) {
                flex-direction: column;
            }
            .image {
                @media only screen and (max-width: 678px) {
                    width: 100%;
                }
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                    @media only screen and (max-width: 678px) {
                        width: 70%;
                    }
                    width: 50%;
                }
            }
            .todo {
                @media only screen and (max-width: 678px) {
                    width: 100%;
                }
                width: 50%;
                form {
                    width: 80%;
                    margin-bottom: 12px;
                    display: flex;
                    input {
                        width: 100%;
                        padding: 8px;
                        margin-right: 12px;
                    }
                }
                .noteContainer {
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid $sand;
                    padding-bottom: 4px;
                    margin-bottom: 8px;
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        box-shadow: none;
                    }
                    #icon {
                        font-size: 22px;
                    }
                }
            }
        }
        section {
            width: 100%;
            display: flex;
            gap: 24px;
            @media only screen and (max-width: 678px) {
                flex-direction: column;
            }
            .dataSection {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: end;
                table {
                    margin-top: 8px;
                    width: 100%;
                    td, th {
                        padding: 4px;
                    }
                    td {
                        border: 1px solid rgb(228, 228, 228);
                    }
                    #tdActions {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                    }
                    th {
                        background-color: $sand;
                        text-align: left;
                    }
                }
            }
            form {
                width: 50%;
                input, textarea {
                    width: 100%;
                    padding: 8px;
                    margin-bottom: 8px;
                }
                label {
                    padding-bottom: 12px;
                }
                textarea {
                    height: 400px;
                }
            }
        }
    }
}

.login {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 10vh;
    justify-content: center;
    form {
        display: flex;
        flex-direction: column;
        input {
            padding: 8px;
            margin-bottom: 8px;
        }
        button {
            margin-top: 8px;
        }
    }
}

.detailRenungan {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    .container {
        padding: 5% 10%;
        h1, #verse {
            text-align: center;
        }
        #content {
            white-space: pre-line;
            text-align: justify;
        }
        span {
            margin: 12px 0;
            display: flex;
            justify-content: space-between;
        }
    }
}

footer {
    width: 100%;
    height: 10vh;
    background-color: $sand;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10%;
        span {
            display: flex;
            align-items: center;
            gap: 24px;
            img {
                border-radius: 50%;
                width: 3%;
            }
        }

    }
}