@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$black: #070606;
$yellow: #f4aa25;
$sand: #ebd493;
$white: #fefefe;
$grey: #7d7d7d;

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: $black;
    scroll-behavior: smooth;
}

textarea {
    resize: none;
}

button {
    background-color: $white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 10px;
}

.primaryButton {
    padding: 4px 16px;
    background-color: $white;
    border: 2px solid $black;
    border-radius: 10px;
    box-shadow: 3px 3px $yellow;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        transform: translateY(4%);
    }
}

#delBtn {
    text-decoration: underline;
    &:hover {
        transform: none;
        color: red;
        font-weight: bold;
    }
    #icon {
        font-size: 20px;
    }
}

#editBtn {
    color: green;
    border: 2px solid green;
    box-shadow: none;
    &:hover {
        transform: none;
        background-color: green;
        color: white;
    }
}

nav {
    width: 100%;
    height: 12vh;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in;
    img {
        margin-left: 10%;
        border-radius: 10px;
        width: 3.2%;
    }
    .hamburger {
        padding-right: 10%;
        display: none;
        #icon {
            font-size: 36px;
            color: $white;
        }
    }
    .navLinks {
        display: flex;
        align-items: center;
        gap: 24px;
        padding-right: 10%;
    }
}

@keyframes sidebar {
    0% {
        // transform: translateY(-11vh);
        opacity: 0;
    }
    100% {
        // transform: translateY(0);
        opacity: 1;
    }
}


.sidebar {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    transform: translateY(12vh);
    display: flex;
    justify-content: end;
    .container {
        animation: sidebar 0.3s ease-in;
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background-color: $white;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {transform: translateY(10%); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}

.homepage {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: 
    linear-gradient(to left, rgb(31, 31, 31, 0.5), transparent), 
    linear-gradient(to right, rgb(31, 31, 31, 0.5), transparent), 
    url('https://i.ibb.co/xh4JBt4/homepage1-min.webp')
    ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: slideUp 1.2s ease-out;
        h1 {
            width: 60%;
            font-size: 60px;
        }
        h1, p {
            text-align: center;
            color: $white;
            // background-color: $white;
            margin-bottom: 4px;
            span {
                color: $white;
                text-decoration: underline;
                text-decoration-color: $yellow;
            }
        }
    }
}


@keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
  
@keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.loaderContainer {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    .loader {
        color: $yellow;
        font-size: 45px;
        text-indent: -9999em;
        overflow: hidden;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        position: relative;
        transform: translateZ(0);
        animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
    }
}

@keyframes popup {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: popup 0.3s ease-in;
    .container {
        border-radius: 4px;
        width: 200px;
        height: 50px;
        background-color: $white;
        border: 1px solid red;
        section {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .icon {
            width: 50px;
            height: 50px;
            background-color: green;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            #icons {
                font-weight: bold;
                font-size: 24px;
                color: white;
            }
        }
    }
}

.dashboardNavbar {
    background-color: $white;
    border: 1px solid $grey;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    z-index: 1;
    section {
        display: flex;
        padding: 0 5%;
        button {
            margin: 0 8px;
        }
    }
}

.dashboard {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    .container {
        padding: 10vh 5%;
        .homeSection {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            .todo {
                width: 50%;
                form {
                    margin-bottom: 12px;
                    display: flex;
                    input {
                        width: 100%;
                        padding: 8px;
                        margin-right: 12px;
                    }
                }
                .noteContainer {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid $sand;
                    padding-bottom: 4px;
                    margin-bottom: 8px;
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        box-shadow: none;
                    }
                    #icon {
                        font-size: 22px;
                    }
                }
            }
        }
        section {
            width: 100%;
            display: flex;
            gap: 24px;
            .dataSection {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: end;
                table {
                    margin-top: 8px;
                    width: 100%;
                    td, th {
                        padding: 4px;
                    }
                    td {
                        border: 1px solid rgb(228, 228, 228);
                    }
                    #tdActions {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                    }
                    th {
                        background-color: $sand;
                        text-align: left;
                    }
                }
            }
            form {
                display: flex;
                flex-direction: column;
                width: 50%;
                input, textarea {
                    width: 100%;
                    padding: 2px 4px;
                    margin-bottom: 8px;
                }
                label {
                    padding-bottom: 4px;
                }
                textarea {
                    height: 400px;
                }
                #submitBtn {
                    width: 20%;
                }
            }
        }
    }
}

.login {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        padding-bottom: 24px;
    }
    form {
        display: flex;
        flex-direction: column;
        input {
            padding: 8px;
            margin-bottom: 8px;
        }
        button {
            margin-top: 8px;
        }
    }
}

.renungan {
    width: 100%;
    height: auto;
    header {
        height: 40vh;
        width: 100%;
        background-image: 
            linear-gradient(to right, rgb(30, 30, 30, 0.6), transparent), 
            linear-gradient(to left, rgb(30, 30, 30, 0.6), transparent), 
            url('https://i.ibb.co/hV4NN0v/bible-min.webp')
            ;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 60px;
            color: $white;
            animation: slideUp 0.8s ease-in;
            span {
                color: $white;
                text-decoration: underline;
                text-decoration-color: $yellow;
            }
        }
    }
    .container {
        display: flex;
        padding: 2% 10%;
    }
}

.detailRenungan {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    .container {
        padding: 5% 10%;
        h1, #verse {
            text-align: center;
        }
        #content {
            white-space: pre-line;
            text-align: justify;
        }
        #verse {
            font-style: italic;
        }
        span {
            margin: 12px 0;
            display: flex;
            justify-content: space-between;
        }
    }
}

footer {
    width: 100%;
    height: 10vh;
    background-color: $sand;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10%;
        span {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
            }
        }
    }
}

.notFound {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10vh;
}

@media only screen and (max-width: 678px) {

    nav {
        img {
            width: 10%;
        }
        .hamburger {
            display: block;
        }
        .navLinks {
            display: none;
        }
    }

    .homepage {
        .container {
            h1 {
                width: 90%;
                font-size: 30px;
            }
        }
    }

    .renungan {
        header {
            height: 25vh;
            h1 {
                padding-top: 10%;
                font-size: 24px;
            }
        }
    }

    .detailRenungan {
        padding-top: 8vh;
        .container {
            padding: 5% 4%;
        }
    }

    .dashboardNavbar {
        section {
            button {
                padding: 4px 8px;
            }
        }
    }

    .dashboard {
        .container {
            .homeSection {
                flex-direction: column;
                .image {
                    width: 100%;
                    img {
                        width: 70%;
                    }
                }
                .todo {
                    width: 100%;
                    h1 {
                        font-size: 20px;
                    }
                    .noteContainer {
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
            section {
                flex-direction: column;
                .dataSection {
                    table {
                        font-size: 14px;
                        .title, .author, .verse {
                            display: none;
                        }
                        #tdActions {
                            button {
                                font-size: 12px;
                                padding: 2px;
                            }
                        }
                    }
                }
                form {
                    padding-top: 10vh;
                    width: 100%;
                    transform: translateX(-4px);
                    input, textarea {
                        width: 100%;
                        padding: 2px 4px;
                    }
                    label {
                        padding-bottom: 2px;
                    }
                    #submitBtn {
                        width: 100%;
                    }
                }
            }
        }   
    }
    
    footer {
        .container {
            p {
                font-size: 12px;
                width: 50%;
            }
        }
    }
}